/**********************  
	GENERAL
***********************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body { font-family: Cambria, Times New Roman, serif;
   line-height: 1.5;
   background:  url('container-bg.jpg') #f1f1f1 repeat 50% 0;
}

h5 {
  font-family: Cambria, Times New Roman, serif;
  font-size: 1.5em;
}

p {
  font-family: Cambria, Times New Roman, serif;
  font-size: 1.15em;
}


/*********************** 
	TWO COLUMN LAYOUT
***********************/

.container-fluid {
  background:  url('container-bg.jpg') #f1f1f1 repeat 50% 0; 
  height: 100vh;
}

.col-sm-7 {
height: 100vh;
background-color: white; 
border-left: 2px solid #e6e6e6; 
}

.profile {
  text-align:center;  
  padding: 15% 10% 4% 10%;
}


/**********************  
	LOGO
***********************/

svg {
  clear: both; 
  max-width: 100%; 
  height: auto;
  z-index: 2;
  padding: 0 8px 0 8px;
  margin: 20% 10% 12%; 
  display: block; 
}


/**********************  
	ANIMATION
***********************/

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  	animation: dash 5s linear alternate infinite;
 <!--  animation: dash 10s linear forwards; -->
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
	}
  to {
    stroke-dashoffset: 0;
	}
}

-webkit-animation {
  from {
    stroke-dashoffset: 1000;
	}
  to {
    stroke-dashoffset: 0;
	}
}


/**********************  
	LINKS
***********************/

/* unvisited link */
a:link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}


